In [22]:
import pandas as pd

In [23]:
flight_data = pd.read_excel("2014-2023.xlsx")
weather_data = pd.read_excel("JFK.xlsx")

In [24]:
# Ensure Date column is in datetime format
flight_data['Date'] = pd.to_datetime(flight_data['Date'], format='%m/%d/%Y')

# Combine Date and Scheduled_departure_time columns
flight_data['Scheduled_departure_time'] = pd.to_datetime(
    flight_data['Date'].dt.strftime('%Y-%m-%d') + ' ' + flight_data['Scheduled_departure_time'].dt.strftime('%H:%M:%S')
)
weather_data['DATE'] = pd.to_datetime(weather_data['DATE'])

flight_data['Scheduled_departure_time'] = flight_data['Scheduled_departure_time'].dt.round('h')

weather_data['DATE'] = weather_data['DATE'].dt.round('h')

AttributeError: Can only use .dt accessor with datetimelike values

In [25]:
# Ensure Date and Scheduled_departure_time are in datetime format
flight_data['Date'] = pd.to_datetime(flight_data['Date'], format='%m/%d/%Y')
flight_data['Scheduled_departure_time'] = pd.to_datetime(flight_data['Scheduled_departure_time'], format='%H:%M:%S')

# Combine Date and Scheduled_departure_time columns
flight_data['Scheduled_departure_time'] = pd.to_datetime(
    flight_data['Date'].dt.strftime('%Y-%m-%d') + ' ' + flight_data['Scheduled_departure_time'].dt.strftime('%H:%M:%S')
)

# Ensure weather data is in datetime format
weather_data['DATE'] = pd.to_datetime(weather_data['DATE'])

# Round to the nearest hour
flight_data['Scheduled_departure_time'] = flight_data['Scheduled_departure_time'].dt.round('h')
weather_data['DATE'] = weather_data['DATE'].dt.round('h')

In [26]:
combined_data = pd.merge(
    flight_data, 
    weather_data, 
    left_on=['Origin Airport', 'Scheduled_departure_time'],  # Adjust column names as needed
    right_on=['STATION', 'DATE'],        # Adjust column names as needed
    how='left'  # Use 'left' to keep all flight data, even if no matching weather data
)

combined_data.drop(columns=['STATION', 'STATION'], inplace=True)

In [28]:
print("Missing values in combined dataset:\n", combined_data.isnull().sum())

# Optionally, handle missing values if necessary
# Here we're using forward fill as an example; adjust based on your needs
combined_data.fillna(method='ffill', inplace=True)

# Step 6: Save the Combined Data (Optional)
# Save the final combined dataset to a new Excel file
combined_data.to_excel("combined_flight_weather_data.xlsx", index=False)

# Display the first few rows of the combined data to verify
combined_data.head()

Missing values in combined dataset:
 Date                                0
Flight Number                       0
Origin Airport                      0
Destination Airport                 0
Scheduled_departure_time            0
Actual departure time               0
Scheduled arrival time              0
Actual arrival time                 0
Scheduled elapsed time (Minutes)    0
Actual elapsed time (Minutes)       0
Departure delay (Minutes)           0
Delay status                        0
DATE                                0
HourlyDryBulbTemperature            0
HourlyPrecipitation                 0
HourlyVisibility                    0
HourlyWindSpeed                     0
dtype: int64

/var/folders/qh/m9pvnc390h5_yl68qyl7wzc00000gn/T/ipykernel_42923/2591938040.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  combined_data.fillna(method='ffill', inplace=True)

,Date,Flight Number,Origin Airport,Destination Airport,Scheduled_departure_time,Actual departure time,Scheduled arrival time,Actual arrival time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Delay status,DATE,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyVisibility,HourlyWindSpeed
0,2014-01-01,404,JFK,LAS,2014-01-01 15:00:00,15:02:00,20:51:00,20:45:00,352,343,3,On-time,2014-01-01 15:00:00,33,0.00,10.00,6
1,2014-01-01,405,JFK,MCO,2014-01-01 11:00:00,10:54:00,13:54:00,13:47:00,174,173,-6,On-time,2014-01-01 11:00:00,32,0.00,10.00,10
2,2014-01-01,406,JFK,ATL,2014-01-01 18:00:00,18:59:00,21:06:00,21:20:00,161,141,34,Delayed,2014-01-01 18:00:00,32,0.00,10.00,5
3,2014-01-01,409,JFK,SFO,2014-01-01 16:00:00,15:56:00,22:41:00,22:22:00,401,386,-4,On-time,2014-01-01 16:00:00,33,0.00,10.00,5
4,2014-01-01,409,JFK,SFO,2014-01-01 16:00:00,15:56:00,22:41:00,22:22:00,401,386,-4,On-time,2014-01-01 16:00:00,33,0.00,9.94,5

In [29]:
combined_data.head()

,Date,Flight Number,Origin Airport,Destination Airport,Scheduled_departure_time,Actual departure time,Scheduled arrival time,Actual arrival time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Delay status,DATE,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyVisibility,HourlyWindSpeed
0,2014-01-01,404,JFK,LAS,2014-01-01 15:00:00,15:02:00,20:51:00,20:45:00,352,343,3,On-time,2014-01-01 15:00:00,33,0.00,10.00,6
1,2014-01-01,405,JFK,MCO,2014-01-01 11:00:00,10:54:00,13:54:00,13:47:00,174,173,-6,On-time,2014-01-01 11:00:00,32,0.00,10.00,10
2,2014-01-01,406,JFK,ATL,2014-01-01 18:00:00,18:59:00,21:06:00,21:20:00,161,141,34,Delayed,2014-01-01 18:00:00,32,0.00,10.00,5
3,2014-01-01,409,JFK,SFO,2014-01-01 16:00:00,15:56:00,22:41:00,22:22:00,401,386,-4,On-time,2014-01-01 16:00:00,33,0.00,10.00,5
4,2014-01-01,409,JFK,SFO,2014-01-01 16:00:00,15:56:00,22:41:00,22:22:00,401,386,-4,On-time,2014-01-01 16:00:00,33,0.00,9.94,5

In [19]:
print(weather_data)

       STATION                 DATE HourlyDryBulbTemperature  \
0          JFK  2014-01-01T00:51:00                       26
1          JFK  2014-01-01T01:00:00                       26
2          JFK  2014-01-01T01:51:00                       26
3          JFK  2014-01-01T02:51:00                       25
4          JFK  2014-01-01T03:51:00                       25
...        ...                  ...                      ...
133698     JFK  2023-12-31T20:51:00                       42
133699     JFK  2023-12-31T21:51:00                       42
133700     JFK  2023-12-31T22:00:00                       42
133701     JFK  2023-12-31T22:51:00                       42
133702     JFK  2023-12-31T23:51:00                       41

       HourlyPrecipitation HourlyVisibility HourlyWindSpeed
0                     0.00            10.00              16
1                      NaN             9.94              16
2                     0.00            10.00               9
3                     0.00            10.00              13
4                     0.00            10.00              11
...                    ...              ...             ...
133698                 NaN            10.00               7
133699                 NaN            10.00               7
133700                 NaN             9.94               7
133701                 NaN            10.00               7
133702                 NaN            10.00              10

[133703 rows x 6 columns]

In [42]:

flight_data = pd.read_excel("JFK-SFO.xlsx")
weather_data = pd.read_excel("SFO.xlsx")


# Ensure Date and Scheduled_departure_time are in datetime format
flight_data['Date'] = pd.to_datetime(flight_data['Date'], format='%m/%d/%Y')
flight_data['Scheduled_arrival_time'] = pd.to_datetime(flight_data['Scheduled_arrival_time'], format='%H:%M:%S')

# Combine Date and Scheduled_departure_time columns
flight_data['Scheduled_arrival_time'] = pd.to_datetime(
    flight_data['Date'].dt.strftime('%Y-%m-%d') + ' ' + flight_data['Scheduled_arrival_time'].dt.strftime('%H:%M:%S')
)

# Ensure weather data is in datetime format
weather_data['DATE'] = pd.to_datetime(weather_data['DATE'])

# Round to the nearest hour
flight_data['Scheduled_arrival_time'] = flight_data['Scheduled_arrival_time'].dt.round('h')
weather_data['DATE'] = weather_data['DATE'].dt.round('h')

In [38]:
combined_data_jfk_sfo = pd.merge(
    flight_data, 
    weather_data, 
    left_on=['Destination_Airport', 'Scheduled_arrival_time'],  # Adjust column names as needed
    right_on=['STATION', 'DATE'],        # Adjust column names as needed
    how='left'  # Use 'left' to keep all flight data, even if no matching weather data
)

combined_data_jfk_sfo.drop(columns=['STATION', 'DATE'], inplace=True)
combined_data_jfk_sfo.to_excel("combined_data_jfk_sfo.xlsx", index=False)

In [39]:
combined_data_jfk_sfo.head()

,Date,Flight_Number,Origin_Airport,Destination_Airport,Scheduled_departure_time,Actual_departure_time,Scheduled_arrival_time,Actual_arrival_time,Delay_status,Origin_Airport_HourlyDryBulbTemperature,Origin_Airport_HourlyPrecipitation,Origin_Airport_HourlyVisibility,Origin_Airport_HourlyWindSpeed,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyVisibility,HourlyWindSpeed
0,2014-01-01,409,JFK,SFO,16:00:00,15:56:00,2014-01-01 23:00:00,22:22:00,On-time,33,0.00,10.00,5,50,0.00,10.00,0.0
1,2014-01-01,430,JFK,SFO,07:00:00,07:00:00,2014-01-01 14:00:00,13:20:00,On-time,30,0.00,10.00,9,53,0.00,8.00,0.0
2,2014-01-01,432,JFK,SFO,13:00:00,12:57:00,2014-01-01 20:00:00,19:15:00,On-time,32,0.00,10.00,5,52,0.00,10.00,0.0
3,2014-01-01,435,JFK,SFO,19:00:00,18:55:00,2014-01-01 02:00:00,1900-01-01 01:27:00,On-time,24,0.00,10.00,7,44,0.00,9.00,3.0
4,2015-01-01,46,JFK,SFO,07:00:00,07:00:00,2015-01-01 14:00:00,13:26:00,On-time,32,0.00,10.00,0,54,0.00,10.00,9.0

In [44]:

flight_data = pd.read_excel("JFK-LAS.xlsx")
weather_data = pd.read_excel("LAS.xlsx")


# Ensure Date and Scheduled_departure_time are in datetime format
flight_data['Date'] = pd.to_datetime(flight_data['Date'], format='%m/%d/%Y')
flight_data['Scheduled_arrival_time'] = pd.to_datetime(flight_data['Scheduled_arrival_time'], format='%H:%M:%S')

# Combine Date and Scheduled_departure_time columns
flight_data['Scheduled_arrival_time'] = pd.to_datetime(
    flight_data['Date'].dt.strftime('%Y-%m-%d') + ' ' + flight_data['Scheduled_arrival_time'].dt.strftime('%H:%M:%S')
)

# Ensure weather data is in datetime format
weather_data['DATE'] = pd.to_datetime(weather_data['DATE'])

# Round to the nearest hour
flight_data['Scheduled_arrival_time'] = flight_data['Scheduled_arrival_time'].dt.round('h')
weather_data['DATE'] = weather_data['DATE'].dt.round('h')

In [45]:
combined_data_jfk_las = pd.merge(
    flight_data, 
    weather_data, 
    left_on=['Destination_Airport', 'Scheduled_arrival_time'],  # Adjust column names as needed
    right_on=['STATION', 'DATE'],        # Adjust column names as needed
    how='left'  # Use 'left' to keep all flight data, even if no matching weather data
)

combined_data_jfk_las.drop(columns=['STATION', 'DATE'], inplace=True)
combined_data_jfk_las.to_excel("combined_data_jfk_las.xlsx", index=False)

In [46]:
combined_data_jfk_las.head()

,Date,Flight_Number,Origin_Airport,Destination_Airport,Scheduled_departure_time,Actual _departure_time,Scheduled_arrival_time,Actual_arrival_time,Delay_status,Origin_Airport_HourlyDryBulbTemperature,Origin_Airport_HourlyPrecipitation,Origin_Airport_HourlyVisibility,Origin_Airport_HourlyWindSpeed,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyVisibility,HourlyWindSpeed
0,2014-01-01,404,JFK,LAS,14:59:00,15:02:00,2014-01-01 21:00:00,20:45:00,On-time,33,0.00,10.00,6,51,0.00,10.00,6.0
1,2014-01-01,420,JFK,LAS,10:30:00,10:27:00,2014-01-01 16:00:00,16:12:00,Delayed,33,0.00,10.00,5,64,0.00,10.00,7.0
2,2014-01-01,420,JFK,LAS,10:30:00,10:27:00,2014-01-01 16:00:00,16:12:00,Delayed,33,0.00,10.00,5,64,NaN,9.94,7.0
3,2014-01-01,2590,JFK,LAS,19:45:00,20:37:00,2014-01-01 02:00:00,1900-01-01 02:09:00,Delayed,24,0.00,9.94,7,42,0.00,10.00,6.0
4,2015-01-01,404,JFK,LAS,10:15:00,10:14:00,2015-01-01 16:00:00,15:58:00,On-time,25,0.00,10.00,11,44,0.00,10.00,3.0